version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: userman1
      POSTGRES_PASSWORD: pass123123
      POSTGRES_DB: items_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: fastapi_api
    ports:
      - "8000:8000"
    environment:

      DATABASE_URL: postgresql://userman1:pass123123@db:5432/items_db
    depends_on:
      - db

volumes:
  postgres_data:
